* {

    font-family: "JetBrainsMono Nerd Font", JetBrainsMono, monospace;
    font-size: 11px;
    min-height: 12px;
    font-weight:bolder;
    border-radius: 20px;
    
    
}


window#waybar {
    /*background-color: #471717;        */
    background-color:rgba(40, 42, 40, 1)    ; /* Color de fondo con transparencia */
    
}
/*
#workspaces { 
	margin: 1px 1px 2px 1px;
    padding: 0px 2px 0px 2px;

}*/
/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

 #workspaces {
	margin: 1px 1px 2px 1px;
    padding: 0px 2px 0px 2px;
    font-weight: bold;
    font-style: normal;  
}

#workspaces button {
    padding: 0px 1px;
    margin: 0.1rem;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    opacity:0.7;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5px;

}
#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    
}

#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    color: #ffffff;
    
}


#workspaces button.focused {
    background-color: black;


}

#custom-powermenu{
    padding: 3px 3px;
    color: #ff7056;  
}
#backlight{
    padding: 0 3px;
    color: #f3e746;   
}

#battery {
    /*background-color: #ffffff;*/
    color: white;
    font-size: .8rem;
    margin-right: .1rem;
    margin-left: .2rem;
    
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-launcher {
    color: #E87154;
    
    padding: 0px 8px 0px 8px;
    font-size: 20px;
    /*background-color: #3B3B3A;
    border-radius: 5px;
    border: 2px solid #1B1B1C;*/
}
#clock,#custom-powermenu,#custom-search,#custom-menus{
    font-size: 10px;
    padding: 0 5px 0 5px;
    color: white;	
}
#custom-search{
    font-size: 12px;
}
#custom-menu{
    font-size: 14px;
}
#tray{
    margin: 0 5px 0 5px;
    color: white;	
}
#custom-notification{
    margin-right: 15px;
    font-size: 13px;
}
#pulseaudio{
    margin-right: .5rem;
    margin-left: .1rem;
    
    color: white;	
}

